*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


div.navbar{
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    min-height: 45px;
    height: 10vh;
    background-color: blueviolet;
    color: #f0f0f0;
    gap: 20px;
}

div.navbar a{
    padding: auto;
    align-self: center;
    justify-self: center;
    color: #f0f0f0;
    text-decoration: none;
}

div.button{
    padding: 1vh 1vW ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: f0f0f0;
    align-self: center;
}

div.button a{
    color: #f0f0f0;
    text-decoration: none;
}