*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


div.navbar{
    display: flex;
    flex-direction: row;
    min-height: 45px;
    height: 10vh;
    width: 100vw;
    background-color: blueviolet;
    color: #f0f0f0;
}

div.button{
    padding: 1vh 1vW ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: wheat;
    align-self: center;
}

div.button a{
    color: wheat;
    text-decoration: none;
}